body {
  margin: 0;
}
.wrapper {
  height: 100px;
  margin: 0 5% 0 5%;
}
.arrange-left {
  float: left;
}
.wid-25 {
  width: 25%;
}
.wid-50 {
  width: 50%;
}
.common-btn {
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
  min-width: 50px;
  text-align: center;
  color: #d19c9678;
}


.common-btn span {
    font-size: 16px;
    font-weight: 800;
}
